table {  
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 10px;
  border-color: transparent;
  font-family: arial, sans-serif;
  width: 280px;
  height: 411px;
  background: rgb(22, 22, 22);  
}

td, th {  
  font-size: .9rem;
  padding-left: 15px;
  text-align: left;
  color: #dddddd;  
}

td {
  border: 1px solid black;
}

th {
  font-size: 1rem;
  padding: 15px;
  background: linear-gradient(rgb(61,61,61),rgb(36,36,36));
}

tr:nth-child(even) {
  background-color: rgb(26, 26, 26);
}

tr:nth-child(odd) {
  background-color: rgb(32, 32, 32);
}

tfoot tr td {
  padding: 16px;
  border: none;
}

.dot {
  margin-right: 8px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.green-dot {
  background-color: rgb(52, 247, 3);
}

.yellow-dot {
  background-color: rgb(247, 243, 3);
}

.red-dot {
  background-color: rgb(247, 19, 3);
}

.hide {
  display: none;
}

.pull-right {
  float: right;
}

tbody tr:hover {
  background-color: rgb(73, 73, 73);
}

.blur-stuff {
  background:rgba(6,6,6);
  opacity: .2;
}

.focus td{
  border-color: rgb(73, 73, 73);
  font-size: .9rem;
}

.focus a {
  color: aqua;
  text-decoration: underline;
  cursor: pointer;
}

.focus :nth-child(2) {
  display: table-cell;
}

a {
  text-decoration: none;
  color: rgb(73, 73, 73);
  font-size: .9rem;  
}

#mySelect {  
  font-size: .75rem;
  border-radius: 5px;
  color: rgb(9,9,9);  
}
.phone {
  font-size: .9rem;
}
.address{
  font-size: .9rem;
}
td{
  flex-direction: column;
  height: 34px;
}
.special{
  height: 68px;
  position: absolute;
  transform: translateY(-36px);
  background: rgb(73, 73, 73);
  padding-right: 40px;
}


